<!DOCTYPE html>
<html>
  <head>
    <title>Ruksack</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <!-- This example requires Tailwind CSS v2.0+ -->
    <div class="relative bg-white max-w-7xl mx-auto px-4 sm:px-6">
      <div class="flex justify-between">
        <div class="flex">Ruksack</div>
        <div>
          <% if current_user.present? %>
            Logout
          <% else %>
            <%= link_to "Sign Up", new_user_registration_path	 %>
          <% end %>
        </div>
      </div>
    </div>
    <%= yield %>
  </body>
</html>
